
/* Account page Style */
.oops {
	background-color: #191919;
	color: #FFFDE4;
	height: 100vh;
	font-family: 'Sen', sans-serif;
}

/* New Review Page Style  */
.new-review-body {
	background-color: #191919;
}
input[type=text] {
	background-color: #eeeeee;
	
}
.isActive {
	font-weight: bold;
	pointer-events: none;
  	cursor: default;
 	text-decoration: none;
 	
}
.formStyle {
	font-family: 'Sen', sans-serif;
	color: #FFFDE4;
	background-color: #191919;
	
}
.form-bio-sizer {
	max-width: 700px;
}
.fit-me-bio {
 max-width: 300px;
}
 .fit-me {
	max-width: 300px;
	margin: auto;
	margin-top: 20px;
} 

.fit-me-text {
	max-width: 650px;
	margin: auto;
	margin-top: 20px;
}
.makeGold {
	color: gold;
}
.goldMe:hover {
	color: gold;
}


/* INDEX PAGE STYLE
 */
 .guest-login-button {
	padding: 20px;
	margin-top: 20px;
	border-radius: 15px;
	background-color: #141414;
	color: gold;
	 border-style: solid;
	 border-color: gold;
	 transition: all 1s ease-in-out;
	}
	.guest-login-button:hover {
	transform: scale(1.2);
	}
 .main-contain {
 height: 95vh;
background-image: url("images/movieposter.jpeg") repeat 0 0;
background-color: #191919;
 }
/*  .test-contain {
 height: 500px;
 background: url("../images/movieposter.jpeg");
 background-image: url("../images/movieposter.jpeg");
 }
  */
.navStyle {
background-color:#141414;
top: 0;
position: sticky;
z-index: 4;
}

.latest-review-title {
	font-weight: bold;
}
 .featuredImg {
 height: 70%;
 max-height: 400px;
 box-shadow: 5px 5px  3px black;
 position: relative;
 z-index: 0;
 transition: all 1s ease-in-out;
 }
 .featuredImg:hover  {
 transform: scale(1.1);}
 
 .featured-box {
 font-family: 'Sen', sans-serif;
 	align-self: center;
 }
.featured-content {
	height: 40vh ;
	align-items: center;
}

.review-list-title {
	color:white;
}

 .lighten {
 color: white;
 }
 
 .nav {
	font-family: 'Sen', sans-serif;
	background-color:#141414;
	top: 0;
/* 	position: sticky; */
	color: white;
}
/* REVIEWS CAROUSEL */
.reviews-container {
	font-family: 'Sen', sans-serif;
	background-color:#141414;
	padding: 15px;
	height: 500px;
	z-index: 1;
	overflow: hidden;
}
.review-list-wrapper {
	position: relative;
}
.review-list {
	display:flex;
	color: #FFFDE4;
	height:275px;
	padding: 10px;
	transform: translateX(0);
	transition: all 1s ease-in-out;
}
.review-list-item {
	margin-right: 10px;
	position: relative;
}
.review-list-item:hover .review-list-item-img {
	transform: scale(1.2);
	margin: 0 25px;
}
.review-list-item-img {
	width: 250px;
	height: 300px;
	object-fit: cover;
	transition: all 1s ease-in-out;
	z-index: 0;
	border-radius: 15px;
}
.arrow {
	color: white;
	z-index: 3;
	font-size: 200px;
	position: absolute;
	top: 55px;
	right: 0;
	color: lightgray;
   	opacity: 0.6;
   	cursor: pointer;
	
}
.review-list-item-what {
	background-color: #191919;
	padding: 8px;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	border-radius: 15px;
	width: 200px;
	top: 10%;
	left: 10%;
	opacity: 0%;
	transition: 1s all ease-in-out;
}
.review-list-item-rating {
	z-index: 3;
}
.review-list-item-title {
	background-color: #191919;
	border-radius: 15px;
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	width: 200px;
	top: 35%;
	left: 10%;
	opacity: 0%;
	transition: 1s all ease-in-out;
}
.review-list-item-button {
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
	background-color: gold;
	outline: none;
	border: none;
	position: absolute;
/* 	bottom: 10px;
	left: 50px; */

}
.review-list-item:hover .review-list-item-title{
	opacity: 80%;
}
.review-list-item:hover .review-list-item-what {
	opacity: 80%;
}

.featured-content-bottom {
	height: 40vh ;
	align-items: center;
	color:#FFFDE4;
	font-family: 'Sen', sans-serif;
}
.random-review-title {
	color: #FFFDE4;
}

